<!DOCTYPE html >
<html>
{% load staticfiles %}
<head>
    <!--Author: Michal-->
    <meta http-equiv="content-type"
          content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href={% static 'home/home.css' %}/>
    <style>
        body {
            background-image: url('{% static "general\background_kids.jpg" %}');
        }

        #greeting_box {
            background-image: url('{% static "general\lloyds_group_logo.png" %}');
        }
    </style>
    <title>Home</title>
</head>


<body>

<!--Requests name of user with welcome message-->
<div id="greeting_box">
    <p id="name"> Hi {{ name }}! </p>
</div>
<!--Links other pages with icon hyperlinks-->
<div id="nav_panel">

    <div id="frame">
        <a href={% url 'account' %} class="buttons">
            <img src={% static 'home/piggy_bank_1.png' %} width="230px" height="230px" alt="Accounts">

            <p>Accounts</p>
        </a>

        <a href={% url 'goals' %} class="buttons">
            <img src={% static 'home/goblet_1.png' %} width="230px" height="230px" alt="Goals">

            <p>Goals</p>
        </a>

        <a href={% url 'ATMs' %} class="buttons">
            <img src={% static 'home/map_1.png' %} width="230px" height="230px" alt="ATMs">

            <p>ATMs</p>
        </a>

        <a href={% url 'logout' %} class="buttons">
            <img src={% static 'home/logout.png' %} width="200px" height="200px" alt="logout" id="arrow">

            <p>Logout</p>
        </a>

        <a href={% url 'collection' %} class="buttons">
            <img src={% static 'home/cards_1.png' %} width="230px" height="230px" alt="Collection">

            <p>Collection</p>
        </a>

        <a href={% url 'guide' %} class="buttons">
            <img src={% static 'home/book_1.png' %} width="230px" height="230px" alt="Banking Guide">

            <p>Banking Guide</p>
        </a>
    </div>

<!--Provides footer-->
    <div id="footer">
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>
