<!DOCTYPE html >
<html>
{% load staticfiles %}
<head>
    <meta http-equiv="content-type"
          content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href={% static 'footer.css' %}/>
    <link rel="stylesheet" type="text/css" href= {% static 'parent_account.css' %}/>
    <script type="text/javascript">
    </script>
	<style>
		body {background-image: url('{% static "login\parent4.jpg" %}') ; repeat:none;}
		#nav_bar {background-image: url('{% static "login\lloyds_group_logo.png" %}') ;}
	</style>
    <title>Parent Account</title>
</head>


<body>
<div id="content">

    {% include 'parent_nav.html' %}
    <div id="bar">{{ parent_data.forename }}<br/>{{ parent_data.surname }}</div>
    <div id="management_panel">
        <p class="title">Manage Your Child's Account</p>

        <div id="manage_child_account">
            {% for key, value in child_data.items %}
                <div class="child_accounts">
                    <p class="name">{{ value.forename }} {{ value.surname }}</p>

                    <p class="pocket">Pocket : $ {{ value.balance }}</p>

                    <p class="stash">Stash : $ {{ value.stash }}</p>
                </div>

            {% endfor %}

            <form action="." id="transfer" method="post">
            {% csrf_token %}
                <p class ='input'><label for="from">From </label>
                    <select type="text" name="from" required="true">
                    <option value="" selected="selected">-</option>
                    <option value='{{ userID }}'>{{ parent_data.forename }}</option>
                    {% for key, value in child_data.items %}
                    <option value="{{ value.accountID }}">{{ value.forename }}</option>
                {% endfor %}
                </select></p>
                <p><label for="to">To </label> <select type="text" name="to" required="true">
                    <option value="" selected="selected">-</option>
                    <option value='{{ userID }}'>{{ parent_data.forename }}</option>
                    {% for key, value in child_data.items %}
                    <option value="{{ value.accountID }}">{{ value.forename }}</option>
                {% endfor %}
                </select></p>
                <p><label for="number">Amount</label> <input type="number" name="amount" step="0.01"/></p>
            {% csrf_token %}
                <input id="make_transfer" type="submit" value="Transfer" onClick=""/>
            </form>

            <div id="set_limit">
                <p>Maximum Amount to be spent per week</p>

                <p>
                    <input type="number" name="spend_limit" step="0.01"/>
                    <input id="set_limit" type="button" value="SET LIMIT" onClick=""/>
                </p>
            </div>
        </div>
    </div>


    <div id="goal_panel">
        <p class="title">Set and Review Goals</p>

            <div id="">
            <table id="completed_goals">

            <caption>Goals completed by your child</caption>
            <tr>
                <th>Date</th>
                <th>Reward Type</th>
                <th>By</th>
            </tr>
                {% for goal, values in goalscompleted.items %}
                <tr>
                    <td>{{ values.date }}</td>
                    <td>{{ values.desc }}</td>
                    <td>{{ values.name }}</td>
                </tr>
            {% endfor %}
            </table>
            </div>
         <form action="." id="set_goals" method="post">
            <div id="new_goal">
                {% csrf_token %}
                {{ form.as_p }}
                <p><label for="goal_target">For: </label><select type="text" name="goal_target" required="true">
                    <option value="" selected="selected">-</option>
                    {% for key, value in child_data.items %}
                    <option value="{{ value.accountID }}">{{ value.forename }}</option>
                {% endfor %}
                </select></p>
                <p><input class="set_new_goal" type="submit" value="Set goal" onClick=""/></p>
            </div>
        </form>
    </div>


    <div id="atms_panel">
        <p class="title">Select Safe ATMs</p>

        <div id="choose_atms" >

        <form action="." name = "" method="post">
        <div class="entry">
        {% for entry in atms %}
            <p class="name">{{ entry.child }}</p>


            {% for atm, location in entry.atms.items %}

               {% if  atm != None %}<input type="checkbox" class="atms" name="{{ atm }}" value="{{ entry.childID }}">{{ location.location }}<br/>{% endif %}

                {% endfor %}



        {% endfor %}
        </div>
         <input type="submit" name="deleteatms" value="Delete ATM">
        {% csrf_token %}
        </form>
            <p></p>


        </div>

    <div id="add_atm">
        <form action="." name="add" method="post">
            {% csrf_token %}
            <select type="text" name="targetID" required="true">
                    <option value="" selected="selected">-</option>
                    {% for key, value in child_data.items %}
                    <option value="{{ value.accountID }}">{{ value.forename }}</option>
                {% endfor %}
            </select>
        <input type="text" required="true" name="location"/>
        <input type="submit" name="addatm" value="Add ATM">
        </form>

    </div>
    </div>
{% include 'footer.html' %}

</div>
</body>
</html>
