<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<title>Lloyds Junior Banking - Register</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href= {% static 'login/SignUp.css' %} />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
      <script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  </script>
	<style>
		body {background-image: url('{% static "login\background_signup.jpg" %}') ;}
		#nav_bar {background-image: url('{% static "login\lloyds_group_logo.png" %}') ;}
	</style>
</head>

<body>

<div id="nav_bar">
    <ul>
        <li><a href="{% url 'signup' %}" id ='signUp'>Register Child</a></li>
        <li><a href="{% url 'logout' %}" id = 'log'>Log out</a></li>
        <!--<li><a href="SignUp.html">Sign Up</a></li> -->
    </ul>
</div>
</div>

<div id="main">
<img src={% static "login\title.png" %} alt="finish sign" id="title">

<div id="register">

	<form id="form" method="post" action=".">
    <p id="form_title">Register</p>
    {% csrf_token %}
		{% for field in form %}
        <p class="field_title">{{ field.label_tag }} {{ field }}</p>
        {% endfor %}


		<input id="register_button" type="submit" value="Register" id="j_log" onclick="" />
	</form>
</div>
</div>

{% include 'footer.html' %}


</body>
</html>
