<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="ATMs-CSS.css"/>
    <title>ATMs</title>
    <script
            src="http://maps.googleapis.com/maps/api/js">
    </script>

    <script>
        var geocoder;
        var map;
        function initialise() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(54.9831, -1.5879);

            var mapProp = {
                zoom: 11,
                center: latlng
            }

            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
        function codeAddress() {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        function codeAddress2() {
            var address = document.getElementById('address2').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
</head>


<body onLoad="initialise(); codeAddress(); codeAddress2()">

<div id="nav_bar">
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="index.html">Profile</a></li>
        <li><a href="Accounts.html">Accounts </a></li>
        <li><a href="goals.html">Goals</a></li>
        <li><a href="collection.html">Collection</a></li>
        <li><a href="ATMs.html">ATMs</a></li>
        <li><a href="Guide.html">Banking Guide</a></li>
    </ul>
</div>

<div id="banner">
    <img src="../images/ATMs/ATMs_1.png" alt="ATMs" title="ATMs" width="1055" height="191"/>
</div>

<div id="content">
    <div id="prompt">
        <p>You can withdraw the money at...</p>
    </div>

    <ul id="atm_list">
        <li>Newcastle Haymarket</li>
        <li>Newcastle Northumberland Street</li>
        <li>Newcastle South Gosforth</li>
    </ul>

    <hr/>
    <div>
        <input id="address" type="textbox" value="Newcastle Haymarket">
        <input id="address2" type="textbox" value="Newcastle Northumbland Street">
        <input type="button" value="Geocode" onClick="codeAddress()">
        <input type="button" value="Geocode" onClick="codeAddress2()">

    </div>
    <div id="location">
        <div id="googleMap" style="width:500px;height:380px;"></div>

    </div>

    <div id="footer">
        <p>Page Footer</p>
    </div>

</body>
</html>
